---
const { scrolled = false } = Astro.props;
---
<nav class={`navbar ${scrolled ? 'scrolled' : ''}`}>
  <div class="container">
    <a href="/" class="navbar-logo">
      <img src="https://images.squarespace-cdn.com/content/v1/66b4bee26229ec4694469e21/3eef1a0d-78be-4186-bd56-726dcaa5ebf6/4U_logo_vectoritzat_sense_fons_blau.png?format=300w" alt="4U Barcelona">
    </a>
    <ul class="navbar-nav">
      <li><a href="/" data-i18n="nav_tours">Tours</a></li>
      <li><a href="/about/" data-i18n="nav_about">About Us</a></li>
      <li><a href="/contact/" data-i18n="nav_contact">Contact</a></li>
      <li><a href="/bcn-guide/" data-i18n="nav_blog">BCN Guide</a></li>
      <li class="lang-selector">
        <a href="#" data-lang="en" onclick="setLanguage('en')" class="active">EN</a>
        <a href="#" data-lang="fr" onclick="setLanguage('fr')">FR</a>
        <a href="#" data-lang="pt" onclick="setLanguage('pt')">PT</a>
        <a href="#" data-lang="ru" onclick="setLanguage('ru')">RU</a>
      </li>
    </ul>
    <div class="hamburger" onclick="document.querySelector('.navbar-nav').classList.toggle('active')">
      <span></span><span></span><span></span>
    </div>
  </div>
</nav>
